html {
  height: 100%;
}

body {
  margin: 0;
  width: 720px;
  height: 1115px;

}

img {
  width: 100px;
}

#img-hero{
  background: url(images/outside.webp), lightgray 50% / cover no-repeat;

}

/* CSS HEX color codes
--jet: #363636ff;
--gunmetal: #242f40ff;
--satin-sheen-gold: #cca43bff;
--platinum: #e5e5e5ff;
--white: #ffffffff;
*/
