html {
  height: 100%;
}

body {
  margin: 0;
  width: 1280px;
  height: 832px;
  border: 1px solid #000;
  background: linear-gradient(
    180deg,
    #d4ddfd 46.88%,
    rgba(255, 255, 255, 0.94) 97.6%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

img {
  width: 100px;
}
.title {
  width: 531px;
  height: 123px;
  color: #000;
  text-align: center;
  font-family: Karma;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: 0 64px 0 44px;
}

.location {
  color: #000;
  text-align: center;
  font-family: Karma;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: 0 42px 0 29px;
}
.img-1 {
  width: 236px;
  height: 197px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: url(images/A10.jpeg), lightgray 50% / cover no-repeat;
  box-shadow: 7px 6px 4px 0px rgba(0, 0, 0, 0.59);
  position: 455px 899px 145px 180px;
}

/* CSS HEX color codes
--jet: #363636ff;
--gunmetal: #242f40ff;
--satin-sheen-gold: #cca43bff;
--platinum: #e5e5e5ff;
--white: #ffffffff;
*/
